.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  row-gap: 5rem;
}

.container nav {
  display: flex;
  background-color: #f5cdcd;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logoutBtn {
  background-color: red;
  border-radius: 0;
  color: white;
  font-weight: 500;
  font-size: 17px;
  transition: 0.5s;
  cursor: pointer;
}

.logoutBtn:hover {
  scale: 1.1;
}

.mainContainer {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  height: 50vh;
}

.mainContainer > div {
  border-radius: 2rem;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  min-width: 320px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainContainer div p {
  margin: 0;
}

.user {
  font-size: 18px;
}

.editContainer {
  row-gap: 2rem;
  min-width: 380px;
}

.editContainer input {
  padding-inline-start: 1rem;
  font-size: 16px;
}

.editContainer > input,
button {
  height: 48px;
  border-radius: 2rem;
  outline: 0;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.editContainer > button {
  background-color: #f5cdcd;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

.editContainer > button:hover {
  background-color: rgb(95, 95, 230);
}

.passwordContainer {
  position: relative;
  padding-inline-start: 1rem;
  font-size: 16px;
}

.passwordContainer input {
  width: 100%;
  height: 48px;
  border-radius: 2rem;
  outline: 0;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.passwordContainer button {
  position: absolute;
  border-radius: 0;
  background-color: white;
  box-shadow: none;
  cursor: pointer;
  top: 13px;
  right: 8px;
  height: 20px;
}
