.main_container {
  margin: 140px 200px 0;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.text_container {
  border: 2px solid black;
  text-align: center;
  font-size: large;
  margin-bottom: 30px;
}

.text_container > h1 {
  font-weight: 600;
  color: red;
}
.text_container > h5 {
  font-weight: 500;
  color: red;
}

.description_title {
  /* border: 2px solid black; */
}

/* container  */
.course_container {
  border: 2px solid black;
  display: inline;
  margin-top: 10px;
  position: relative;
}

.section_container {
  border: 2px solid black;
  /* position: absolute; */
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.img_container {
  /* border: 2px solid black; */
}

.content {
  /* border: 2px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 20px; /* optional, for better spacing */
}

.content > a {
  color: red;
  font-weight: 600;
}
